<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <title>Articles</title>
        {% load static %}
        <link rel="stylesheet" href="{% static /blog/css/shop.css %}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <header>
            <div class="first_line">
                <div class="menu">
                    <b class="home">Home</b>
                    <b>Shop</b>
                    <b>About</b>
                    <b>Contact</b>
                </div>
                <div class="sections">
                    <img src="{% static 'blog/img/account.png' %}" class="account">
                    <img src="{% static 'blog/img/search.png' %}">
                    <img src="{% static 'blog/img/heart.png' %}">
                    <img src="{% static 'blog/img/shopping.png' %}">
                </div>
            </div>


                {% block content %}{% endblock %}


        <footer>
                <div class="up">
                    <div class="addres">
                        400 University Drive Suite 200 Coral<br> Gables,<br> FL 33134 USA
                    </div>
                    <div class="footer_menu">
                        <b class="first_element">Links</b>
                        <b>Home</b>
                        <b>Shop</b>
                        <b>About</b>
                        <b>Contact</b>
                    </div>
                    <div class="footer_menu">
                        <b class="first_element">Help</b>
                        <b>Payment Options</b>
                        <b>Returns</b>
                        <b>Privacy Policies</b>
                    </div>
                    <div class="footer_menu">
                        <b class="first_element">Newsletter</b>
                        <form action="" method="post" class="info_you" >
                            <input class="in_box" type="email" name="E-mail" id="E-mail" placeholder="Enter Your Email Address" required>
                            <input class="button" type="submit" value="SUBSCRIBE">
                        </form>
                    </div>
                </div>
                <div class="down">
                    <div></div>
                    <b>2022 Meubel House. All rights reverved</b>
                </div>
        </footer>
    </body>
</html>