
        {% extends "base.html" %}
        {% block content %}



        <div>
            <img src="/media/{{articles.upload}}">
            <h1>{{ articles.articles_name }}</h1>
            <p>{{ articles.articles_text}}</p>
        </div>
        <section class="art_cat">
                {% if related %}
                    <div class="art_list">
                    {% for item in related %}
                        <div class="one_item">
                            <div class="img_art">
                                <img src="/media/{{item.upload}}">
                            </div>
                                <h1><a href="/blog/{{ item.id }}/">{{ item.articles_name|truncatechars:15 }}</a></h1>
                                <p>{{ item.articles_text|truncatechars:50 }}<a href="/shoplist/{{ item.id }}/"></a></p>
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <p>No product are available.</p>
                {% endif %}
        </section>




    </header>
        {% endblock %}